<footer class="footer bg-dark text-white text-center" style="height: auto; padding: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-2">&copy; 2023 eHealth - Healthcare company</div>
      <div class="col-md-12 text-center">
        <a href="https://www.instagram.com/" class="text-white mx-2" target="_blank">
          <img src="assets/instagram_logo.png" alt="Instagram" style="width: 20px; height: 20px;">
        </a>
        <a href="https://www.facebook.com/" class="text-white mx-2" target="_blank">
          <img src="assets/facebook_logo.png" alt="Facebook" style="width: 20px; height: 20px;">
        </a>
        <a href="https://github.com/" class="text-white mx-2" target="_blank">
          <img src="assets/github_logo.png" alt="Github" style="width: 20px; height: 20px;">
        </a>
      </div>
    </div>
  </div>
</footer>
