<app-navigation></app-navigation>
<div class="body" [ngClass]="{'dark-mode': x, 'light-mode': !x}">
    <button id="button-dark-light-mode" (click)="toggleMode()"><img src="assets/theme.png"
            alt="button-dark-light-mode"></button>
    <app-button-down></app-button-down>
    <div class="main">

        <img id="appointmentPicture" src="assets/appointment.png" alt="appointment" width="701px" height="628px">

        <form class="appointment-form" action="/submit_form" method="post"
            style="background-image: url('../assets/wave.jpg');">
            <b>
                <h4>Schedule an appointment</h4>
            </b><br>
            <label for="patientName">Patient Name:</label>
            <input type="text" id="patientName" name="patientName" required style="float: right;"><br><br>
            <label for="doctorName">Doctor Name:</label>
            <input type="text" id="doctorName" name="doctorName" required style="float: right;"><br><br>
            <label for="reason">Reason:</label>
            <input type="text" id="reason" name="reason" required style="float: right;"><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required style="float: right; width: 189.6px;"><br><br>
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" required style="float: right; width: 189.6px;"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required style="float: right;"><br><br>
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" required
                style="float: right;"><br><br>
            <input id="submit-button" type="submit" value="Submit">
        </form>
    </div>
    <app-button-help></app-button-help>
    <app-button-up></app-button-up>
</div>
<app-footer></app-footer>