@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    margin-left: 100px;
    width: 1300px;
    height: 650px;
    display: flex;
    justify-content: space-between;
}

.appointment-form {
    font-family: 'Roboto', sans-serif;
    width: max-content;
    height: max-content;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#submit-button {
    border-radius: 10px;
    padding: 9px;
    border: none;
    color: white;
    background-color: rgb(50, 50, 237);
}

.light-mode {
    background-color: rgb(252, 249, 249);
}

.dark-mode {
    background-color: rgb(115, 115, 115);
    color: black;
}

#button-dark-light-mode {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    outline: none;
    margin-left: 80px;
}

#toggle-button {
    padding: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .main {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .appointment-form {
        width: 20%;
        margin-top: 20px;
    }
    #appointmentPicture {
        width: 350px;
        height: 500px;
    }
    #button-dark-light-mode {
        margin-top: 10px;
        margin-left: 10px;
    }
}
