
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
    margin-left: 80px;
    width: 1325px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

#lab-text {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-left: 80px;
    font-size: 22px;
    color: rgb(55, 55, 55);
}

#lab-video {
    margin-top: 100px;
    margin-right: 10px;
}

.light-mode {
    background-color: rgb(252, 249, 249);
    color: black;
}

.dark-mode {
    background-color: rgb(115, 115, 115);
    color: white;
}

#button-dark-light-mode {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    outline: none;
    margin-left: 80px;
}

#toggle-button {
    padding: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
    }

    #lab-video {
        margin-top: 20px;
        width: 350px;
        height: 250px;
    }

    #lab-text {
        margin-left: 10px;
        font-size: 18px;
        padding: 10px;
    }

    #button-dark-light-mode {
        margin-top: 10px;
        margin-left: 10px;
    }
}