
.light-mode {
    background-color: rgb(252, 249, 249);
    color: black;
}

.dark-mode {
    background-color: rgb(115, 115, 115);
    color: white;
}

#button-dark-light-mode {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    outline: none;
    margin-left: 80px;
}

#toggle-button {
    padding: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #button-dark-light-mode {
        margin-top: 10px;
        margin-left: 10px;
    }
}